@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}


.fade-card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.fade-card.show {
  opacity: 1;
  transform: translateY(0);
}
